:root {}
.card {
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  padding: 16px;
}
.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #2196f3;
  font-weight: 500;
  margin-bottom: 8px;
}
